= devise_error_messages!
.form-group
  = f.label :email
  = f.text_field :email, :autocomplete=>"off", :class => "form-control input-sm"
  .help-block Your email.

- if (current_user && current_user.email_required?) || resource.new_record?
  .form-group
    = f.label :password
    = f.password_field :password, :class => "form-control input-sm"
    .help-block
      - if current_user
        Leave blank if you don't want to change it.
      - else
        Your password.
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => "form-control input-sm"
    .help-block Password confirmation.

- if current_user && current_user.current_password_required?
  .form-group
    = f.label :current_password, raw("<b>Current password</b>")
    = f.password_field :current_password, :class => "form-control input-sm"
    .help-block Enter current password to update your details.
.form-group
  = f.label :name
  = f.text_field :name, :class => "form-control input-sm"
  .help-block Your name.
.form-group
  = f.label :address
  = f.text_field :address, :class => "form-control input-sm"
  .help-block
    Enter the physical address or intersection
    %br/
    where you would meet for trades.

.form-group
  = f.label :phone
  = f.text_field :phone, :class => "form-control input-sm"
  .help-block Preferred phone number.
.form-group
  = f.label :skype
  = f.text_field :skype, :class => "form-control input-sm"
  .help-block
    %a{:href => "http://www.skype.com", :target => "_blank"} Skype
    name.
.form-group
  = f.label :aim
  = f.text_field :aim, :class => "form-control input-sm"
  .help-block
    %a{:href => "http://www.aim.com", :target => "_blank"} AIM
    Account.
.form-group
  = f.label :yim
  = f.text_field :yim, :class => "form-control input-sm"
  .help-block
    %a{:href => "http://messenger.yahoo.com/", :target => "_blank"} Yahoo Messenger
    account.
.form-group
  = f.label :jabber
  = f.text_field :jabber, :class => "form-control input-sm"
  .help-block
    %a{:href => "http://register.jabber.org/", :target => "_blank"} Jabber
    account.
.form-group
  = button_tag action, :type => "button", :class => "btn btn-primary"
= f.hidden_field :latitude
= f.hidden_field :longitude
