<!-- authentications/index.html.erb -->

<div class="item">
<% if user_signed_in? %>
   <%- if current_user.name.present? %>
  <h2>Signed in as: <%= current_user.name %></h2>
  <%- else %>
  <h2>Signed in as: <%= current_user.email %></h2>
    <%- end %>
<% else %>
<% if @mode == 'join' %>
  <h1>Sign Up</h1>
<% else %>
  <h1>Sign In</h1>
<% end %>
<% end %>

<%- unless  user_signed_in? %>
<% if @mode == 'join' %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
  <% end  %>
<% else %>
 <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<% end %>

<%- end %>

<% if @authentications %>
  <% unless @authentications.empty? %>
    <h3>You can sign in to this account using:</h3>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider_name %></div>
          <div class="uid"><%= authentication.provider_uid %></div>
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <br />

  </div><div class="item">
  <h3>Add another service to sign in with:</h3>
<% else %>
  </div><div class="item">
  <h3>Login to this site using one of these services:</h3>
<% end %>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<div class="clear"></div>
</div>

<% if user_signed_in? %>
<div class="item">
  <h3>Additional contact methods:</h3>
  <p>Enter as many or as few contact methods below. Remember, these will be made available to your fellow traders as a method to contact you. We take every precaution to ensure your contact information cannot be abused or harvested.</p>
  <div class="left">
  <% form_for current_user, :remote => true, :method => 'put' do |f| %>
  <p><%= f.label :email %><br />
    <%= f.text_field :email, :autocomplete=>"off"  %> <br />
    <small>Your email.</small>
  </p>
  <%- if current_user.email_required? %>
  <p><%= f.label :password %><br />
    <%= f.password_field :password %><br />
    <small>Your password.</small></p>
  <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %><br />
    <small>Password confirmation.</small></p>    
  <%- end %>
  <p><%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <small>Your name.</small></p>
  <p><%= f.label :address %><br />
    <%= f.text_field :address, :onchange => 'showUpdate();' %><br />
    <small>Enter the physical address, intersection or lat/lon<br /> where you would meet for trades.</small></p>
  <p><%= f.label :phone %><br />
    <%= f.text_field :phone %><br />
    <small>Preferred phone number.</small></p>
  <p><%= f.label :skype %><br />
    <%= f.text_field :skype %><br />
    <small><a href="http://www.skype.com" target="_blank">Skype</a> name.</small></p>
  <p><%= f.label :aim %><br />
    <%= f.text_field :aim %><br />
    <small><a href="http://www.aim.com" target="_blank">AIM</a> Account.</small></p>
  <p><%= f.label :yim %><br />
    <%= f.text_field :yim %><br />
    <small><a href="http://messenger.yahoo.com/" target="_blank">Yahoo Messenger</a> account.</small></p>
  <p><%= f.label :jabber %><br />
    <%= f.text_field :jabber %><br />
    <small><a href="http://register.jabber.org/" target="_blank">Jabber</a> account.</small></p>
  <a href="javascript:trySubmit();"><img src="/images/save.png" alt="Save" border="0" /></a>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <% end %>
</div>
<div class="right">
<script type="text/javascript">
  var marker = null;
  $(function() {
    whereami();
    initialize();
    if ($.trim($('#user_address').val()) == '' && city != null) {
      $('#user_address').val( city + ', ' + country );
      $('#user_latitude').val( latitude );
      $('#user_longitude').val( longitude );
    }
    address = $('#user_address').val();
    $('form').bind('ajax:success', success).bind('ajax:failure', failure);
    marker = addMarker(latitude, longitude, "My Location");
  });
</script>
  <div id="map_canvas" style="width: 400px"></div>
  <div id="status"></div>
  </div>
</div>
<% end %>

