%section#inpress
  In the News:
  = link_to image_tag("extra/news1.png")
  = link_to image_tag("extra/news2.png")
  = link_to image_tag("extra/news3.png")
#bottom
  %ul 
    %li 
      %a{:href => ""}= image_tag "icons/facebook.png"
    %li 
      %a{:href => ""}= image_tag "icons/twitter.png"
    %li 
      %a{:href => ""}= image_tag "icons/blogger.png"
    %li 
      %a{:href => ""}= image_tag "icons/gplus.png"
  %p
    %a{:href => "/tos"} Terms of Service
    |
    %a{:href => "/privacy_policy"} Privacy Policy
    |
    %a{:href => "/transactions"} Transaction Guide
    |
    %a{:href => "/thanks"} Thanks
    %br/
  #copyright
    %b
      Copyright &copy; 2011
      %a{:href => "http://assuredwebdevelopment"} Assured Web Development
      and Jonathan Jeffus
    %br/
    Donations?:  12SW1w5mvp9ExwMbM9kMwTbN4D9e75KQDr
