!!!
%html
  %head
    %title Tradebitcoin.com: Buy Bitcoins, Trade Bitcoins
    %link{:href => "http://fonts.googleapis.com/css?family=Neuton", :rel => "stylesheet", :type => "text/css"}/
    %script{:language => "JavaScript", :src => "http://j.maxmind.com/app/geoip.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #logo
      %a{:href => "/under_construction"}
      %ul.menu
        - if user_signed_in?
          %li= link_to 'Sign Out', destroy_user_session_path, :method => :delete
          %li= link_to "Edit account", edit_user_registration_path
        - else
          %li= link_to "Join", new_user_registration_path
          %li= link_to "Login", new_user_session_path
        %li= link_to "Trade Online", new_user_session_path
        %li
          %a{:href => "/about"} About
  
    #content
      - unless flash.empty? 
        - flash.each do |name, msg|
          = raw(msg)
      = yield

      = render "shared/footer"
